[submodule "src/gml-core"]
	path = src/gml-core
	url = https://github.com/GamerVII-NET/gml-core.git
[submodule "src/Gml.Core"]
	path = src/Gml.Core
	url = https://github.com/GamerVII-NET/gml-core.git
