[submodule "src/gml-core"]
	path = src/gml-core
	url = https://github.com/Gml-Launcher/Gml.Core.git
[submodule "src/Gml.Core"]
	path = src/Gml.Core
	url = https://github.com/StormofTheGalaxy/Gml.Core.Arma.git
