name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Checkout submodules
      run: git submodule update --init --recursive
      
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag gml-web-api:$(date +%s)
